# Dependencias
node_modules/
/vendor

# Archivos de entorno y credenciales
.env
.env.local
*.pem

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Configuraciones de IDEs
.vscode/
.idea/
